<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name="viewport" content='width=device-width, initial-scale=1.0'>
  <title>TalentNest - Reset Password</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/student_reset_password.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mallanna"> 
</head> 
<body>
<main>
  <div class='reset-container'>
    <h1><u>Reset Your Password</u></h1>

    <form id='resetPasswordForm'>
       <div class='form-group'>
         <label for='usn'>Student ID </label>
         <input type='text' id='usn' name='usn' required>
       </div>
      <div class='form-group'>
         <label for='email'>Email ID</label>
         <input type='text' id='email' name='email' required>  
       </div>
      <div class='form-group'>
         <label for='new_password'>New Password</label>
         <input type='password' id='new_password' name='new_password' required>  
       </div>
      <hr>
      <div class='form-group-buttons'>
        <button type="button" id='resetPasswordBtn'>Reset Password</button>
      </div>
    </form> 
    <p>Get back on track with TalentNest</p>
    <button type="button" ><a href="{{ url_for('student_login') }}">Back</a></button>
  </div>
</main>
  <script src="{{ url_for('static', filename='js/student_reset_password.js') }}"></script>
</body>
</html>
