<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>TalentNest</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  <div class="app-wrapper">
    <div class="login-card">
      <h1>TalentNest</h1>
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="TalentNest" class="logo" width="50px" height="50px"/>
      <h3>Welcome Back</h3>
      <p>Don't have an account? <a href="{{ url_for('student_register') }}">Sign Up</a></p>

      <div class="trusted-section">
        <h3>Top companies trust us</h3>
        <div class="companies">
          <span>Deloitte</span><span>Meeshoo</span><span>TCS</span><span>CGI</span>
          <span>ITS</span><span>HCL</span><span>Infosys</span><span>L&T</span>
          <span>ApnaC</span><span>TPS</span><span>Figma</span>
        </div>
      </div>

      <div class="stats-container">
        <div class="stat">
          <div class="number">10+</div>
          <div class="label">Companies Hired</div>
        </div>
        <div class="stat">
          <div class="number">50+</div>
          <div class="label">Active Students</div>
        </div>
      </div>
        <div class="login-buttons">
          <button id='student-login-btn' url="{{ url_for('student_login') }}">Student Login</button>
       
        <button id='recruiter-login-btn' url="{{ url_for('recruiter_login') }}">Recruiter Login</button>
        
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
