<html lang='en'>
<head>
<meta charset='UTF-8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>tag</title>
<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Mallanna'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/rec_forgot_password.css') }}">
</head>
<body>
  <main>
    <div class='form-container'>
      <form id='forgot_password_form' action='/forgot_password' method='POST'>
        <div class='form-group'>
          <h1><u>Reset Your Password</u></h1>  
          <label for='username'>Recruiter ID</label>
          <input type='text' id='username' name='username' required>
        </div>
        <div class='form-group'>
          <label for='new_password'>New Password</label>
          <input type='password' id='new_password' name='new_password' required> 
        </div>
        <div class='form-group'>
          <label for='confirm_password'>Confirm Password</label>
          <input type='password' id='confirm_password' name='confirm_password' required>  
        </div>
        <hr>
        <button type='submit'>Reset Password</button> 
      </form>
    </div>
  </main>
  <script src="{{ url_for('static', filename='js/rec_forgot_password.js') }}"></script> 
</body>  
</html>